body {
    margin: 0;
    padding: 0;
    background-color: #f9f6ee;
}
.main{
    width: 100%;
    height: 700px;
    padding-top: 70px;
}
.first-section {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.first-section-1 {
    width: 500px;
    height: 500px;
}

.first-section-2 {
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/4267640/images/juicy-steak-medium-rare-beef-with-spices-grilled-vegetables.jpg ");
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 50px;
    background-position: 50% 50%;
}

.first-section-1 h1{
    font-size: 45px;
}

.first-section-1 p{
    font-size: 20px;
}

.first-section-1 button{
    width: 160px;
    height: 56px;
    background-color: #f1ae0e;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    color: white;
}