body {
    margin: 0;
    padding: 0;
    background-color: #f9f6ee;
}
.main{
    width: 100%;
    height: 700px;
    padding-top: 70px;
}
.first-section {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.first-section-1 {
    width: 500px;
    height: 500px;
}

.first-section-2 {
    background-image: url("https://assets.nicepagecdn.com/11a8ddce/4267640/images/juicy-steak-medium-rare-beef-with-spices-grilled-vegetables.jpg ");
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 50px;
    background-position: 50% 50%;
}

.first-section-1 h1{
    font-size: 45px;
}

.first-section-1 p{
    font-size: 20px;
}

.first-section-1 button{
    width: 160px;
    height: 56px;
    background-color: #f1ae0e;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    color: white;
}

#section2 {
    width: 1100px;
    height: 600px;
    border-radius: 50px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.section2-inner {
    font-family: Montserrat, sans-serif;
    width: 50%;
    height: 100%;
}

.section2-inner img {
    width: 530px;
    height: 521px;
    object-fit: cover;
    border-radius: 60px;
}

.section2-inner h1 {
    font-size: 3rem;
    line-height: 1.1;
    word-wrap: break-word;
    font-weight: 600;
}

.section2-inner p {
    font-family: Raleway, sans-serif;
    line-height: 1.5;
    font-weight: 200;
    font-size: 1.125rem;
    word-wrap: break-word;
}

.section2-inner button{
    width: 160px;
    height: 56px;
    background-color: #f1ae0e;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
    border: 0 none transparent;
    font-size: 1rem;
}